lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
./node_modules
node_modules
test/integration/dest/app.min.js
test/integration/dest/source-map.js
test/integration/libs/
